# App secret key
SECRET_KEY=!9rizc%xt=0p!e$drr1spzb6gm@d5ryq41xr=v0r*yj$12&u+9

# Database settings
POSTGRES_DB=smart_db
POSTGRES_USER=smart_user
POSTGRES_PASSWORD=smart_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

