.product-container {
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-top: 10px; 
    margin-right: 5px; 
    margin-left: 10px;
    margin-bottom: 30px;
    display: inline-block;
    width: 350px;
    box-shadow: 0px 1px 4px 1px rgba(118,118,118,0.75);
    -webkit-box-shadow: 0px 1px 4px 1px rgba(118,118,118,0.75);
    -moz-box-shadow: 0px 1px 4px 1px rgba(118,118,118,0.75);
}

.product-container.fullscreen{
    width: 100%;
}

.product-title, .product-description, .product-price{
    padding: 12px;
}

.product-title {
    border-bottom: 1px solid #dee2e6;
}

.product-price {
    color: dodgerblue;
}

.product-price-btn{
    border-top-left-radius: unset;
    border-top-right-radius: 0;
    width: 100%;
}

.product-footer-two {
  margin-bottom: 12px;
}

.full-width-btn{
    display: block;
}