[Unit]
Description=TRUFFLE-API WEB SERVICE
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
# Create a virtual env under <CHANGE_TO_PROJECT_DIRECTORY>/truffle-api/venv
# Install require packages from requirements.txt
ExecStart=/bin/bash <CHANGE_TO_PROJECT_DIRECTORY>/truffle-api/start.sh

[Install]
WantedBy=multi-user.target
