{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        {% for product in products %}
            <div class="product-container">
                <div class="product-title">
                    <a href="{% url 'product-detail' product.pk %}" style="font-size: 20px"><b>{{ product.name }}</b></a>
                    <div style="font-size: 12px">{{ product.owner }}</div>
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                <div class="product-price">
                    <b>{{ product.price }} {{ product.currency }}</b>
                </div>
                <div class="product-footer">
                    <button class="product-price-btn btn btn-info">Buy</button>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}