{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <br><br><br>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet aliquet erat. Integer at ex libero. Phasellus ac odio eros. Aenean ultrices dui a metus aliquet, sed commodo dolor finibus. Duis et lectus quis diam pulvinar luctus. Nunc dictum tortor ex, ac sodales risus bibendum in. Etiam vitae ornare mauris. Quisque tincidunt tortor quis rhoncus convallis. Morbi placerat ligula et metus tempor semper.

Nunc mattis semper euismod. Suspendisse luctus interdum felis. Vestibulum sagittis hendrerit luctus. Sed ut pharetra tortor. Morbi eu diam nulla. Fusce a interdum augue. Phasellus porta eros eget lacinia tempus. Praesent at lorem efficitur, ullamcorper augue pulvinar, feugiat ipsum. Nullam in lorem et ligula porttitor interdum. Nunc semper nisi quis finibus aliquam. Sed rutrum condimentum lectus, vel accumsan tortor commodo pretium. Vivamus in sagittis ex, et sollicitudin velit. Integer quis rutrum turpis, ac posuere lorem. Mauris venenatis nulla libero, sed ornare ligula ultricies quis.

Sed convallis sodales tincidunt. Fusce vehicula leo dolor, vestibulum vulputate neque sagittis sed. Donec at est urna. Phasellus dapibus, turpis in sollicitudin egestas, tellus sem rutrum lacus, eu semper urna ipsum in urna. Ut at neque gravida, auctor ante mollis, malesuada magna. Praesent luctus neque id arcu ornare, sit amet aliquet turpis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ex lorem, sed viverra ex ornare at.

Cras vel turpis eros. Mauris malesuada viverra condimentum. Nam fermentum suscipit vestibulum. Aenean faucibus ex a turpis convallis molestie. Donec vestibulum viverra scelerisque. Donec fermentum dolor ut turpis pretium auctor. Ut vel risus felis. Donec sem lacus, blandit quis finibus quis, dictum a leo.

Nam ac mauris nulla. Sed bibendum enim purus. Donec at feugiat elit. Sed in aliquet risus. Nulla dui mi, rhoncus eu mauris ut, bibendum lacinia enim. Morbi sed leo a nisi hendrerit dictum. Curabitur tempus sodales ultricies. Maecenas vitae orci ac mi aliquet porttitor.
    </div>
    <br><br><br>

{% endblock %}