{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'create-new-sale' %}" class="btn btn-info">Add new product</a>
        {% for product in products %}
            <div style="margin-top: 10px; margin-bottom: 30px">
                <a href="{% url 'product-detail' product.pk %}" style="font-size: 20px"><b>{{ product.name }}</b></a>
                <div>{{ product.description }}</div>
                <div style="color: dodgerblue"><b>{{ product.price }} {{ product.currency }}</b></div>
                <button class="btn btn-info">Confirm the sending</button>
            </div>
        {% endfor %}
    </div>

{% endblock %}