{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        {% for product in products %}
            <div class="product-container">
                <div class="product-title">
                    <a href="{% url 'product-detail' product.pk %}" style="font-size: 20px"><b>{{ product.name }}</b></a>
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                <div class="product-price">
                    <b>{{ product.price }} {{ product.currency }}</b>
                </div>
                {% if product.status == "sent" %}
                    <div class="product-footer-two">
                        <button class="product-btn btn btn-info">Confirm the delivery</button>
                        <button class="product-btn btn btn-danger">I have problems</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}