{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'create-new-sale' %}" class="btn btn-info full-width-btn">Add new product</a>
        {% for product in products %}
            <div class="product-container">
                <div class="product-title">
                    <a href="{% url 'product-detail' product.pk %}" style="font-size: 20px"><b>{{ product.name }}</b></a>
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                <div class="product-price">
                    <b>{{ product.price }} {{ product.currency }}</b>
                </div>
                {% if product.contract_address %}
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <a href="https://ropsten.etherscan.io/address/{{product.contract_address}}" target="_blank" class="product-price-btn btn btn-info">View in Blockchain</a>
                    </div>
                {% endif %}
                {% if product.status == "pending_order" %}
                     <div class="product-footer">
                        Pending order
                    </div>
                {% elif product.status == "order" %}
                    <div class="product-footer">
                        <a href="{% url 'send_product' product.pk %}" class="product-price-btn btn btn-info">Confirm the sending</a>
                    </div>
                {% elif product.status == "pending_send" %}
                     <div class="product-footer-two">
                        Pending Sending
                    </div>
                {% elif product.status == "sent" %}
                     <div class="product-footer-two">
                        Sent!
                    </div>
                {% elif product.status == "pending_received" %}
                     <div class="product-footer-two">
                        Pending Received
                    </div>
                {% elif product.status == "received" %}
                     <div class="product-footer-two">
                        Received!
                    </div>
                {% elif product.status in "pending_problem" %}
                     <div class="product-footer">
                        Pending Problem
                    </div>
                {% elif product.status == "problem" %}
                     <div class="product-footer">
                        Problem :(
                    </div>
                {% elif product.status in "pending_refund" %}
                    <div class="product-footer">
                        Pending Refund
                    </div>
                {% elif product.status == "pending_no_refund" %}
                     <div class="product-footer">
                        Pending No Refund
                    </div>
                {% elif product.status in "refund" %}
                    <div class="product-footer">
                        Refund
                    </div>
                {% elif product.status == "no_refund" %}
                     <div class="product-footer">
                        No Refund
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}