{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        {% for product in products %}
            <div class="product-container">
                <div class="product-title">
                    <a href="{% url 'product-detail' product.pk %}" style="font-size: 20px"><b>{{ product.name }}</b></a>
                </div>
                <div class="product-description">
                    {{ product.description }}
                </div>
                <div class="product-price">
                    <b>{{ product.price }} {{ product.currency }}</b>
                </div>
                {% if product.contract_address %}
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <a href="https://ropsten.etherscan.io/address/{{product.contract_address}}" class="product-price-btn btn btn-info">View in Blockchain</a>
                    </div>
                {% endif %}
                {% if product.status == "pending_order" %}
                     <div class="product-footer-two">
                        Waiting for sending
                    </div>
                {% elif product.status == "order" %}
                     <div class="product-footer-two">
                        Waiting for sending
                    </div>
                {% elif product.status == "pending_send" %}
                     <div class="product-footer-two">
                        Waiting for sending
                    </div>
                {% elif product.status == "sent" %}
                    <div class="product-footer-two">
                        <a href="{% url 'receive_product' product.pk %}" class="product-btn btn btn-info">Confirm the delivery</a>
                        <a href="{% url 'problem_product' product.pk %}" class="product-btn btn btn-danger">I have problems</a>
                    </div>
                {% elif product.status == "pending_received" %}
                     <div class="product-footer-two">
                        Pending Received
                    </div>
                {% elif product.status == "received" %}
                     <div class="product-footer-two">
                        Received!
                    </div>
                {% elif product.status == "problem" %}
                     <div class="product-footer-two">
                        Problem :(
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}