{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/catalogue/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="product-container fullscreen">
            <div class="product-title">
                <h1>{{ object.name }}</h1>
                <div style="font-size: 12px">Продавець: {{ object.owner }}</div>
            </div>
            <div class="product-description">
                {{ object.description }}
            </div>
            <div class="product-price">
                <b>{{ product.price }} {{ product.currency }}</b>
            </div>
            {% if object.status == "new" %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    {% if request.user.is_authenticated %}
                        <button class="product-price-btn btn btn-info">Buy</button>
                    {% else %}
                        <div style="color: red">Please, log in to buy this product</div>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}